{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":16,"scrollleft":0,"selection":{"start":{"row":1,"column":3},"end":{"row":1,"column":3},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":0,"state":"start","mode":"ace/mode/ini"}},"timestamp":1580174357228,"hash":"8278107afdaee7ed5a5cdf97b07e4a3cfd4a763a"}