h1{
    text-align: center;
    font-size: 4em;
    margin-bottom: 25px;
    margin-top: 0px;
<<<<<<< HEAD
}

body form{
    text-align: center;
    
    margin-bottom: 20px;
    
}
body{
    border-bottom-style: solid;
    border-color: black;
    background-color: red;
}

=======
    font-family: cursive;
}

.main{
   background-color: khaki;
}

.container {
    border: black;
    background-color: burlywood;
    margin-top: 10px;
    padding-top: 10px;
    border-style: solid;
    text-align: center;
    font-family: cursive;
}

#first{
    width: 350px;
    height: auto;
    border-radius: 25px;
}

#second{
    width: 350px;
    height: auto;
    border-radius: 25px;
}

#third{
    width: 350px;
    height: auto;
    border-radius: 25px;
}

#fourth{
    width: 350px;
    height: auto;
    border-radius: 25px;
}

.column{
    font-family: cursive;
    text-align: center;
}
>>>>>>> de693b32941ec639f3cf7c3ef91b61673f80106a
