nav li:hover{ /*pseudo class*/
    font-size: 1.10em;
    transition: .9s; /* transition effect */
}

ul{
    color:white;
}

li {
    list-style: none; /*gets rid of bullet points*/
    display: inline-block; /* allows me to get horizontal tabs */
    padding-left: 10px;
    padding-right: 10px;
}

a { /* links within "nav" container */
    font-size: 1em;
    color: black; /* by default, links are blue */
    border-radius: 15px;
    justify-content: space-between;
}
