<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <nav>
            <li><a href='/logout'>Logout</a></li>
            <li align='right'><a href='//account_edit'>Account</a></li>   
        </nav>
        <h1 align='center'> Video Game Database Search </h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/welcome" id = "currentPage"> Home </a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchdevelopers"> Search Game Developers </a> </li>
                <li> <a href = "/wishlist"> WishList </a> </li>
            </ul>
        </nav>
        <br><br>
        <div align='center'>
            <strong>
                <p>Welcome to our Video Game Website!</p>
                <p>Our website allows you to search for video games as well as game developers.</p>
                <p>We have plenty of features such as creating an account, which you then can create a "wishlist".</p>
                <p>What are you waiting for go and try it out!</p>      
            </strong>
        </div>
        </br>
        <div align = 'center'>
            <a href = "/searchGames"><img src='website background.jpg' width='500px' height ='300px' /></a>
        </div>
    </div>
</div>

<%- include ('partials/footer'); -%>
