<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <nav>
            <li><a href='/logout'>Logout</a></li>
            <li align='right'><a href='/account_edit'>Account</a></li>   
        </nav>
        </br>
        <h1 align='center'> Welcome to your Account!</h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/welcome" id = "currentPage"> Home </a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchdevelopers"> Search Game Developers </a> </li>
                <li> <a href = "/wishlist"> WishList </a> </li>
            </ul>
        </nav>
        </br>
        <div align='center'>
            <div>
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
            </div>
                    
            <div>
                <label for="psw"><b>Password</b></label>
                <input type="text" placeholder="Enter Password" name="psw">
            </div>
            
            </br>        
            <button type="submit" class="btn btn-primary">Commit Changes</button>
        </div>
    </div>
</div>

<%- include ('partials/footer'); -%>
