<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1 align='center'> Video Game Database Search </h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/" id = "currentPage"> Home </a> </li>
                <li> <a href = "/createaccount"> Create Account</a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchdevelopers"> Search Game Developers </a> </li>
            </ul>
        </nav>
        <br><hr><br>
        
        <form action='/login' method='GET'>
            <div class="text-center">
                <button class='btn btn-primary btn-block'> Login </button>
            </div>
        </form>
        <br><hr><br>
        <div class='row'>
            <%if(!company_name){%>
                <h1 class='col-sm-14 notfound'>CANNOT FIND Developer!!!</h1>
            <%} else {%>
                <div class='col-sm-4 info'>
                    <h3><%=company_name.company_name%></h3>
                </div>
            <%}%>
        </div>
    
    </div>
    
    
</div>

<%- include ('partials/footer'); -%>
