<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1> Video Game Database Search </h1>
        <br><br>
        <form action='/login' method='GET'>
            <div class="text-center">
                <button class='btn btn-primary btn-block'> Login </button>
            </div>
        </form>
        <br><br>
            
        <form action='/gameSearch' method='GET'>
            <div class='form-group row'>
                <label for='name' class='col-sm-4 col-form-label'>Game Title</label>
                <div class='col-sm-4'>
                    <input type='text' class='form-control' id='gameTitle' name='gameTitle'>
                </div>
                <div class='col-sm-4'>
                    <button class='btn btn-primary btn-block'> Search </button>
                </div>
            </div>
        </form>
        
        <form action='/resultGame' method='GET'>
            <div class='form-group row'>
                <label for='name' class='col-sm-4 col-form-label'>Game Developers</label>
                <div class='col-sm-4'>
                    <input type='text' class='form-control' id='company_name' name='company_name'>
                </div>
                <div class='col-sm-4'>
                    <button class='btn btn-primary btn-block'> Search </button>
                </div>
            </div>
        </form>

    </div>
</div>

<%- include ('partials/footer'); -%>