<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
         <nav>
            <li><a href='/logout'>Logout</a></li>
            <li align='right'><a href='/account'>Account</a></li>   
        </nav>
        <h1 align='center'> Profile Information</h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/" id = "currentPage"> Home </a> </li>
                <li> <a href = "/account_new"> Create Account</a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchdevelopers"> Search Game Developers </a> </li>
            </ul>
        </nav>
        <br><br>
        <br><br>
        
    </div>
</div>

<%- include ('partials/footer'); -%>