<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1 align='center'> Search Video Games </h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/" id = "currentPage"> Home </a> </li>
                <li> <a href = "/createaccount"> Create Account</a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchDevelopers"> Search Game Developers </a> </li>
            </ul>
        </nav>
        <br><br>
        <form action='/login' method='GET'>
            <div class="text-center">
                <button class='btn btn-primary btn-block'> Login </button>
            </div>
        </form>
        <br><br>
            
        <form action='/gameSearch' method='GET'>
            <div class='form-group row'>
                <label for='name' class='col-sm-4 col-form-label'>Game Title</label>
                <div class='col-sm-4'>
                    <input type='text' class='form-control' id='gameTitle' name='gameTitle'>
                </div>
                <div class='col-sm-4'>
                    <button class='btn btn-primary btn-block'> Search </button>
                </div>
            </div>
        </form>
        
        <form action='/genreSearch' method='GET'>
            <div class='form-group row'>
                <label for='name' class='col-sm-4 col-form-label'>Game Genre</label>
                <div class='col-sm-4'>
                    <input type='text' class='form-control' id='gameGenre' name='gameGenre'>
                </div>
                <div class='col-sm-4'>
                    <button class='btn btn-primary btn-block'> Search </button>
                </div>
            </div>
        </form>
        
        <form action='/ratingSearch' method='GET'>
            <div class='form-group row'>
                <label for='name' class='col-sm-4 col-form-label'>Game Rating</label>
                <div class='col-sm-4'>
                    <input type='text' class='form-control' id='gameTitle' name='gameTitle'>
                </div>
                <div class='col-sm-4'>
                    <button class='btn btn-primary btn-block'> Search </button>
                </div>
            </div>
        </form>
        
        <form action='/pricingSearch' method='GET'>
            <div class='form-group row'>
                <label for='name' class='col-sm-4 col-form-label'>Game Pricing</label>
                <div class='col-sm-4'>
                    <input type='text' class='form-control' id='gameTitle' name='gameTitle'>
                </div>
                <div class='col-sm-4'>
                    <button class='btn btn-primary btn-block'> Search </button>
                </div>
            </div>
        </form>

    </div>
</div>

<%- include ('partials/footer'); -%>
