<%- include ('partials/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <nav>
            <li float= 'left'><a href='/logout'>Logout</a></li>
            <li float='right'><a href='/logout'>Update Profile</a></li>   
        </nav>
        
        <h1 align='center'> Welcome! </h1>
        <nav align='center'>
            <ul>
                <li> <a href = "/" id = "currentPage"> Home </a> </li>
                <li> <a href = "/createaccount"> Create Account</a> </li>
                <li> <a href = "/searchGames"> Search Games </a> </li>
                <li> <a href = "/searchdevelopers"> Search Game Developers </a> </li>
            </ul>
        </nav>
    </div>
</div>

<%- include ('partials/footer'); -%>
